Repository Tenacom/Louis, changes with the labels that .github/labeler.yml gives for each.
All labels: area-louis, area-source_generators, area-build, area-repo, area-ci, area-deps, area-docs

Use SourceLink for source debugging support.
  src/Louis/Louis.csproj
Labels: area-build

Fix image link in NuGet README.
  NuGet-README.md
Labels: area-docs

Add package description.
  src/Louis/Louis.csproj
Labels: area-build

Remove Slack link from README.
  README.md
Labels: area-docs

Add NuGet badge to README.
  README.md
Labels: area-docs

Fix InvalidOperationException in AsyncWorker.StartAsync.
  src/Louis/Threading/Workers/AsyncWorker.cs
Labels: area-louis

Update changelog and bump version to 1.0.0-preview.2
  CHANGELOG.md
  VERSION
Labels: none

Add VERSION file to solution.
  Louis.sln
Labels: area-build

Do not mark sources generated internally as auto-generated.
  src/LouisSourceGenerators/Internal/StringBuilderExtensions-AppendCodeHeader.cs
Labels: area-source_generators

Add file headers to generated source files to avoid warning SA1633.
  src/LouisSourceGenerators/Internal/StringBuilderExtensions-AppendCodeHeader.cs
Labels: area-source_generators

Disable warning RS0016 in generated files.
  src/LouisSourceGenerators/Internal/StringBuilderExtensions-AppendCodeHeader.cs
Labels: area-source_generators

Add missing typeparam docs to Throw generic methods.
  src/LouisSourceGenerators/Internal/StringBuilderExtensions-AppendThrowMethod.cs
Labels: area-source_generators

Add fluent ForEach methods to iterate on spans.
  src/Louis/Fluency/FluentExtensions.cs
  src/Louis/PublicAPI.Unshipped.txt
Labels: area-louis

Add words to ReSpeller dictionary.
  Louis.sln.DotSettings
Labels: none

Update changelog and bump version to 1.0.0-preview.3
  CHANGELOG.md
  VERSION
Labels: none

Remove contracariance from FluentAction delegates.
  src/Louis/Fluency/FluentAction.cs
Labels: area-louis

Update changelog and bump version to 1.0.0-preview.4
  CHANGELOG.md
  VERSION
Labels: none

Add UnicodeCharacterUtility, adapting internal code from Roslyn.
  THIRD-PARTY-NOTICES
  src/Louis/PublicAPI.Unshipped.txt
  src/Louis/Text/UnicodeCharacterUtility.cs
Labels: area-louis, area-docs

Update changelog and bump version to 1.0.0-preview.5
  CHANGELOG.md
  VERSION
Labels: none

Fix typo in README.md
  README.md
Labels: area-docs

Update source header text in code generators.
  src/LouisSourceGenerators/Internal/StringBuilderExtensions-AppendCodeHeader.cs
Labels: area-source_generators

Update PolyKit.Embedded to 1.0.0-preview.5
  Directory.Packages.props
Labels: area-deps

Add extensions for interpolated logging.
  src/Louis/Logging/LogInterpolatedStringHandler.Critical.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Debug.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Error.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Information.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Trace.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Warning.cs
  src/Louis/Logging/LogInterpolatedStringHandler.cs
  src/Louis/Logging/LoggerExtensions-Log.cs
  src/Louis/Logging/LoggerExtensions-LogCritical.cs
  src/Louis/Logging/LoggerExtensions-LogDebug.cs
  src/Louis/Logging/LoggerExtensions-LogError.cs
  src/Louis/Logging/LoggerExtensions-LogInformation.cs
  src/Louis/Logging/LoggerExtensions-LogTrace.cs
  src/Louis/Logging/LoggerExtensions-LogWarning.cs
  src/Louis/Logging/LoggerExtensions.cs
  src/Louis/PublicAPI.Unshipped.txt
Labels: area-louis

Update changelog and bump version to 1.0.0-preview.6
  CHANGELOG.md
  VERSION
Labels: none

Rename folder to match namespace.
  src/Louis/ArgumentValidation/Arg.cs
  src/Louis/ArgumentValidation/ArgCheckFunc.cs
  src/Louis/ArgumentValidation/ArgExtensions-Uri.cs
  src/Louis/ArgumentValidation/ArgExtensions-Url.cs
  src/Louis/ArgumentValidation/ArgExtensions.cs
  src/Louis/ArgumentValidation/ArgHelper.cs
  src/Louis/ArgumentValidation/Arg`1.cs
  src/Louis/ArgumentValidation/ArgumentCheckFunc`1.cs
  src/Louis/ArgumentValidation/Internal/ExceptionHelper.cs
  src/Louis/ArgumentValidation/NullableArgExtensions.cs
  src/Louis/ArgumentValidation/NullableArg`1-Check.cs
  src/Louis/ArgumentValidation/NullableArg`1-CheckUnlessNull.cs
  src/Louis/ArgumentValidation/NullableArg`1-UnlessNull.cs
  src/Louis/ArgumentValidation/NullableArg`1.cs
  src/Louis/ArgumentValidation/NullableArgumentCheckFunc`1.cs
  src/Louis/ArgumentValidation/NullablePredicate`1.cs
  src/Louis/ArgumentValidation/NullableValueArgExtensions-comparisons.cs
  src/Louis/ArgumentValidation/NullableValueArgExtensions.cs
  src/Louis/ArgumentValidation/NullableValueArg`1-Check.cs
  src/Louis/ArgumentValidation/NullableValueArg`1-CheckUnlessNull.cs
  src/Louis/ArgumentValidation/NullableValueArg`1-UnlessNull.cs
  src/Louis/ArgumentValidation/NullableValueArg`1.cs
  src/Louis/ArgumentValidation/ValueArgCheckFunc.cs
  src/Louis/ArgumentValidation/ValueArgExtensions-comparisons.cs
  src/Louis/ArgumentValidation/ValueArgExtensions.cs
  src/Louis/ArgumentValidation/ValueArg`1.cs
Labels: area-louis

Minor formatting fixes.
  src/Louis/Text/CharReadOnlySpanExtensions.cs
  src/Louis/Text/StringBuilderExtensions-AppendLiteral.cs
Labels: area-louis

Use Interlocked for everything in InterlockedFlag.
  src/Louis/Threading/InterlockedFlag.cs
Labels: area-louis

Add missing external link in XML docs.
  src/Louis/Threading/ThreadSafeDisposable.cs
Labels: area-louis

Optimize Arg for hot paths and improve XML docs.
  src/Louis/ArgumentValidation/Arg.cs
Labels: area-louis

Do not use aggressive inlining. JITs are smart enough.
  src/Louis/ArgumentValidation/Arg.cs
  src/Louis/ArgumentValidation/ArgHelper.cs
  src/Louis/ArgumentValidation/Arg`1.cs
  src/Louis/ArgumentValidation/NullableArg`1.cs
  src/Louis/ArgumentValidation/NullableValueArg`1-CheckUnlessNull.cs
  src/Louis/ArgumentValidation/NullableValueArg`1.cs
  src/Louis/ArgumentValidation/ValueArg`1.cs
  src/Louis/Collections/EnumerableExtensions-WhereNotNull.cs
  src/Louis/Fluency/FluentExtensions.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Critical.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Debug.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Error.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Information.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Trace.cs
  src/Louis/Logging/LogInterpolatedStringHandler.Warning.cs
  src/Louis/Logging/LogInterpolatedStringHandler.cs
  src/Louis/Threading/InterlockedFlag.cs
Labels: area-louis

Rename Arg -> Require, Arg.Value -> Require.Of
  CHANGELOG.md
  src/Louis/ArgumentValidation/Require.cs
  src/Louis/Diagnostics/ExceptionExtensions-AnyCausingException.cs
  src/Louis/Fluency/FluentExtensions.cs
  src/Louis/Logging/LogInterpolatedStringHandler.cs
  src/Louis/Logging/LoggerExtensions-Log.cs
  src/Louis/Text/StringBuilderExtensions-AppendResult.cs
  src/Louis/Text/Utf8Utility.cs
  src/Louis/Threading/ValueTaskUtility.cs
Labels: area-louis

Remove redundant using directives.
  src/Louis/ArgumentValidation/ArgHelper.cs
  src/Louis/ArgumentValidation/Arg`1.cs
  src/Louis/ArgumentValidation/NullableArg`1.cs
  src/Louis/ArgumentValidation/NullableValueArg`1-CheckUnlessNull.cs
  src/Louis/ArgumentValidation/NullableValueArg`1.cs
  src/Louis/ArgumentValidation/ValueArg`1.cs
  src/Louis/Collections/EnumerableExtensions-WhereNotNull.cs
  src/Louis/Fluency/FluentExtensions.cs
  src/Louis/Threading/InterlockedFlag.cs
  src/LouisSourceGenerators/Internal/ExceptionDefinition.cs
Labels: area-louis, area-source_generators

Fix an ArgHelper method throwing an exception instead of returning it.
  src/Louis/ArgumentValidation/ArgHelper.cs
Labels: area-louis

Add AppendClippedLiteral / ToClippedLiteral and related methods.
  src/Louis/Text/CharReadOnlySpanExtensions-GetLiteralLength.cs
  src/Louis/Text/CharReadOnlySpanExtensions-ToClippedLiteral.cs
  src/Louis/Text/CharReadOnlySpanExtensions-ToLiteral.cs
  src/Louis/Text/CharReadOnlySpanExtensions.cs
  src/Louis/Text/StringBuilderExtensions-AppendClippedLiteral.cs
  src/Louis/Text/StringBuilderExtensions-AppendLiteral.cs
  src/Louis/Text/StringBuilderExtensions-AppendLiteralCore.cs
  src/Louis/Text/StringExtensions-GetLiteralLength.cs
  src/Louis/Text/StringExtensions-ToClippedLiteral.cs
Labels: area-louis

Put ArgHelper on steroids to optimize all validation methods.
  src/Louis/ArgumentValidation/ArgExtensions-Uri.cs
  src/Louis/ArgumentValidation/ArgExtensions-Url.cs
  src/Louis/ArgumentValidation/ArgHelper-FormatArgumentExceptionMessage.cs
  src/Louis/ArgumentValidation/ArgHelper-ThrowArgumentException.cs
  src/Louis/ArgumentValidation/ArgHelper-ThrowArgumentOutOfRangeException.cs
  src/Louis/ArgumentValidation/ArgHelper-ThrowCallbackCannotBeNull.cs
  src/Louis/ArgumentValidation/ArgHelper-ThrowPredicateCannotBeNull.cs
  src/Louis/ArgumentValidation/ArgHelper.cs
  src/Louis/ArgumentValidation/Arg`1.cs
  src/Louis/ArgumentValidation/Internal/ExceptionHelper.cs
  src/Louis/ArgumentValidation/NullableArgExtensions.cs
  src/Louis/ArgumentValidation/NullableArg`1-Check.cs
  src/Louis/ArgumentValidation/NullableArg`1-CheckUnlessNull.cs
  src/Louis/ArgumentValidation/NullableArg`1-UnlessNull.cs
  src/Louis/ArgumentValidation/NullableValueArg`1-Check.cs
  src/Louis/ArgumentValidation/NullableValueArg`1-UnlessNull.cs
  src/Louis/ArgumentValidation/ValueArgExtensions-comparisons.cs
  src/Louis/ArgumentValidation/ValueArg`1.cs
Labels: area-louis

Add FormatObject and AppendFormattedObject.
  src/Louis/ArgumentValidation/ArgHelper-FormatArgumentExceptionMessage.cs
  src/Louis/Diagnostics/ExceptionHelper.cs
  src/Louis/Diagnostics/StringBuilderExtensions.cs
Labels: area-louis

Add RangeCheck.
  src/Louis/RangeCheck-Clamp.cs
  src/Louis/RangeCheck-ClampOrNull.cs
  src/Louis/RangeCheck-InRangeOrDefault.cs
  src/Louis/RangeCheck-Verify.cs
  src/Louis/RangeCheck.cs
Labels: area-louis

Update changelog.
  CHANGELOG.md
Labels: none

Add class Validated for faster, simpler argument validation than Require.
  CHANGELOG.md
  src/Louis/ArgumentValidation/Internal/ThrowHelper.cs
  src/Louis/ArgumentValidation/Require.cs
  src/Louis/ArgumentValidation/Validated.cs
  src/Louis/Diagnostics/ExceptionExtensions-AnyCausingException.cs
  src/Louis/Fluency/FluentExtensions.cs
  src/Louis/Logging/LogInterpolatedStringHandler.cs
  src/Louis/Logging/LoggerExtensions-Log.cs
  src/Louis/RangeCheck.cs
  src/Louis/Text/StringBuilderExtensions-AppendResult.cs
  src/Louis/Text/Utf8Utility.cs
  src/Louis/Threading/ValueTaskUtility.cs
Labels: area-louis

Retire the asynchronous workers feature until it has been decently field-tested.
  CHANGELOG.md
  src/Louis/Threading/Workers/AsyncWorker.cs
  src/Louis/Threading/Workers/AsyncWorkerState.cs
  src/Louis/Threading/Workers/IAsyncWorker.cs
  src/Louis/Threading/Workers/Internal/LoggerInternalExtensions.cs
Labels: area-louis

.github/labeler.yml:

area-louis:
  - "src/Louis/**/*.cs"

area-source_generators:
  - "src/LouisSourceGenerators/**/*.cs"

area-build:
  - "**/*.sln"
  - "**/*.csproj"
  - "**/Common.props"
  - "**/Common.targets"

area-repo:
  - ".github/*.yml"
  - ".github/**/*.md"

area-ci:
  - ".github/workflows/**/*"
  - "lgtm.yml"

area-deps:
  - "**/Directory.Packages.props"
  - Directory.Build.props
  - Directory.Build.targets
  - "src/Buildvana.Sdk/Sdk/PackageVersions.props"

area-docs:
  - "docs/**/*"
  - "**/LICENSE"
  - "**/NuGet-README.md"
  - "**/README.md"
  - "**/THIRD-PARTY-NOTICES"
