Repository Tenacom/Louis, changes with the labels that .github/labeler.yml gives for each.
All labels: area-louis, area-source_generators, area-build, area-repo, area-ci, area-deps, area-docs

Fix a typo in changelog.
  CHANGELOG.md
Labels: none

Support <exception> tags in XML docs of generated Throw methods.
  src/LouisSourceGenerators/Internal/ExceptionConstructorDefinition.cs
  src/LouisSourceGenerators/Internal/ExceptionDefinition.cs
  src/LouisSourceGenerators/Internal/ExceptionDefinitionList.cs
  src/LouisSourceGenerators/Internal/StringBuilderExtensions-AppendThrowMethod.cs
  src/LouisSourceGenerators/Internal/XmlExceptionDefinition.cs
  src/LouisSourceGenerators/ThrowMethodsGenerator.cs
Labels: area-source_generators

Add Throw.Aggregate overloads.
  CHANGELOG.md
  src/LouisSourceGenerators/ThrowMethodsGenerator.cs
Labels: area-source_generators

Retire class ThreadSafeDisposable.
  CHANGELOG.md
  src/Louis/Threading/ThreadSafeDisposable.cs
Labels: area-louis

Remove currently-unused dependencies.
  Directory.Packages.props
Labels: area-deps

Update dependencies.
  Directory.Packages.props
Labels: area-deps

Retire ArgExtensions.
  CHANGELOG.md
  src/Louis/ArgumentValidation/ArgExtensions-Uri.cs
  src/Louis/ArgumentValidation/ArgExtensions-Url.cs
  src/Louis/ArgumentValidation/ArgExtensions.cs
  src/Louis/PublicAPI.Unshipped.txt
Labels: area-louis

Split Append*Literal methods: with and without useUnicodeEllipsis.
  CHANGELOG.md
  src/Louis/Text/StringBuilderExtensions-AppendClippedLiteral.cs
Labels: area-louis

Commit changes to public APIs.
  src/Louis/PublicAPI.Unshipped.txt
Labels: none

Add some words to ReSpeller's dictionary.
  Louis.sln.DotSettings
Labels: none

Bump version to 1.0.0-preview.7
  VERSION
Labels: none

Update changelog.
  CHANGELOG.md
Labels: none

Refactor GetMaxCharsInBytes to reduce method complexity and fix size computation bug.
  CHANGELOG.md
  src/Louis/Text/Utf8Utility.MaxCharsInBytesHelper.cs
  src/Louis/Text/Utf8Utility.cs
Labels: area-louis

Fix counter-intuitive logic in MaxCharsInBytesHelper.
  src/Louis/Text/Utf8Utility.MaxCharsInBytesHelper.cs
Labels: area-louis

Refactor AppendThrowMethod to reduce method complexity.
  src/LouisSourceGenerators/Internal/StringBuilderExtensions-AppendThrowMethod.cs
Labels: area-source_generators

Update changelog and bump version to 1.0.0-preview.8
  CHANGELOG.md
  VERSION
Labels: none

.github/labeler.yml:

area-louis:
  - "src/Louis/**/*.cs"

area-source_generators:
  - "src/LouisSourceGenerators/**/*.cs"

area-build:
  - "**/*.sln"
  - "**/*.csproj"
  - "**/Common.props"
  - "**/Common.targets"

area-repo:
  - ".github/*.yml"
  - ".github/**/*.md"

area-ci:
  - ".github/workflows/**/*"
  - "lgtm.yml"

area-deps:
  - "**/Directory.Packages.props"
  - Directory.Build.props
  - Directory.Build.targets
  - "src/Buildvana.Sdk/Sdk/PackageVersions.props"

area-docs:
  - "docs/**/*"
  - "**/LICENSE"
  - "**/NuGet-README.md"
  - "**/README.md"
  - "**/THIRD-PARTY-NOTICES"
